.register{
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #00B4DB 0%, #0083B0 100%);
}
.register__page{
  width: 100%;
  height: 100%;

}
.register__back{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/avatar_makata_vespa_04.svg");
  background-repeat: no-repeat, repeat;
  background-size: contain;
}
.register__register-form{
  background-color: white;
  width: 80%;
  height: 90%;
  border-radius: 40px;
  overflow-y:scroll;
}