.form-social{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #BCBEC0;
    box-sizing: border-box;
    border-radius: 40px;
    margin-right: 8px;
    cursor: pointer;
    
}
.social-button{
    width: 30%;
    height: 52%;
    background-repeat: no-repeat,repeat;
    background-size: cover;
}